# fly.toml app configuration file generated for full-stack-open-pokedex-m0t3wa on 2026-01-24T03:08:29Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'full-stack-open-pokedex-m0t3wa'
primary_region = 'yyz'

[build]

[env]
  PORT = "5050" 

[processes]
  app = "node app.js"

[http_service]
  internal_port = 5050
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
